// header
header {
  border-bottom: 1px solid $Primary200;
  .header-container {
    max-width: $container-max-width-llg;
    margin: 0 auto;
    padding: 28px 0;
  }
  .logo {
    width: 90px;
  }
  .nav {
    position: relative;
  }
  .nav-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 40px;
    a {
      color: $Primary900;
    }
    a:hover,.mark {
      font-weight: 600;
      position: relative;
      &::before{
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        left: -8px;
        top:-4px;
        border-top: 1px solid $Primary500;
        border-left: 1px solid $Primary500;
      }
      &::after{
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        right: -8px;
        top:-4px;
        border-top: 1px solid $Primary500;
        border-right: 1px solid $Primary500;
      }
      span{
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            left: -8px;
            bottom:-4px;
            border-bottom: 1px solid $Primary500;
            border-left: 1px solid $Primary500;
          }
          &::after{
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            right: -8px;
            bottom:-4px;
            border-bottom: 1px solid $Primary500;
            border-right: 1px solid $Primary500;
          }
      }
    }
  }
  .nav-btn {
    display: none;
  }
}
@media (max-width: $breakpoints-lg) {
  header {
    .header-container {
      padding: 28px;
    }
  }
}
@media (max-width: $breakpoints-md) {
  header {
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
    }
    .nav-btn {
        display:block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        span {
          font-size: 40px;
          &.active{
            display: none;
          }
        }
      }
    .nav-list {
      display: none;
    }
    .nav-list.active {
      display: flex;
      flex-direction: column;
      gap: 0;
      transform: translate(-50%, 0%);
      top: 62px;
      z-index: 100;
      background: $Primary50;
      width: calc(100vw - 24px);
      text-align: center;
      a{
        display: block;
        padding: 16px 0;
        font-weight: 400;
        &:hover{
            background: $Primary200;
            font-weight: 600;
        }
      }
      a:hover,.mark {
        &::before,&::after,span{
            display: none;
        }
      }
    }
  }
}
