$Primary900: #000000;
$Primary800: #1E1E1E;
$Primary700: #3B3B3B;
$Primary600: #5B5B5B;
$Primary500: #919191;
$Primary400: #C1C1C1;
$Primary300: #E9E9E9;
$Primary200: #F1F1F1;
$Primary100: #FAFAFA;
$Primary50: #FFFFFF;

$breakpoints-md: 768px;
$container-max-width-lg: 760px;
$breakpoints-lg: 1400px;
$container-max-width-llg: 1296px;
